@import "tailwindcss";

/* Banner del header */
@font-face {
    font-family: "Alex";
    src: url(./assets/fonts/MrAlex-Bold.ttf);
}

.mrAlex {
    font-family: "Alex";
}

/* Marquesina de auspiciantes */
.marquee {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Controles Carousel*/
.swiper-button-next::after,
.swiper-button-prev::after {
    @apply text-lg text-gray-300;
}

.swiper-pagination-bullet-active {
    @apply bg-gray-300 opacity-100;
}
